

.annotation {
  div {
    position: absolute;
    border: 2px var(--highlighter) solid;
    display: flex;
    flex-direction: column-reverse;
  }

  .label {
    position: relative;
    margin: 0;
    padding: 0 1rem;
    background: linear-gradient(180deg, lch(0 0 0 / 50%), transparent);
    color: lch(from var(--highlighter) calc(l - 10) c h);
    text-align: center;
    text-transform: capitalize;
    border: none;
    border-top: inherit;
  }
}
